//colors
$color-bg-main: #eaade9;
$color-bg-alt: #cb73c9;

$color-font-main: #fff;
$color-font-alt: #000;
$color-font-header: #2a45ee;

$color-btn-main: #2a45ee;
$color-btn-form: #fff;

$color-sticker: linear-gradient(20deg, #2945ed 0%, #a7b0ed 64%);

$color-error: #cc0000;
$color-success: #009900;

//fonts
$font-base: 'Muli', sans-serif;
$font-form: 'Source Sans Pro', sans-serif;
$font-sticker: 'Poppins', sans-serif;

$extra-light: 200;
$light: 300;
$normal: 400;
$bold: 600;
$extra-bold: 700;

//distances
$space-bottom: 40px;